version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      timezone: "America/New_York"
      time: "07:00"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      timezone: "America/New_York"
      time: "07:00"
    groups:
      docusaurus:
        patterns:
          - "@docusaurus/*"
          - "@tsconfig/docusaurus"
