.badge {
  height: 18px;
  line-height: 18px;
  display: inline-block;
  vertical-align: text-top;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 0.5rem;
  font-weight: bolder;
  font-size: 12px;
  color: white;
  background-color: gray;
}

.danger {
  color: #b03934;
  background-color: #fee2e2;
}

.warning {
  color: #624c07;
  background-color: #fde68aff;
}

.neutral {
  color: #4d4d4d;
  background-color: #dedddd;
}

.info {
  color: #06556c;
  background-color: #cdf2ff;
}
